.body-background{
    -fx-background-color: linear-gradient(
            to bottom,
            #75c0f6,
            #aab6fb,
            #ffffff
    );
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #444444;
    -fx-border-radius: 20px;
    -fx-text-fill: #444444;
    -fx-background-radius: 20px;
    -fx-padding: 8px 16px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

.button:hover {
    -fx-background-color: #d6ecff;
    -fx-text-fill: #004b9b;
}

.text-field{
    -fx-font-size: 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-padding: 8px 16px;
}

#bottomText{
    -fx-text-fill: #000000;
}