

.body-background {

}

.text-field {
    -fx-font-size: 16px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-padding: 8px 16px;
    -fx-font-size: 16px;
    -fx-background-color: #
}

.button {
    -fx-background-color: #046FFF;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-padding: 8px 16px;
    -fx-font-size: 16px;
}

.button-oauth {
    -fx-background-color: #C5DEFF;
}

.label {

}

.button:hover {
    -fx-background-color: #64748b;
}